<% provide(:title, 'Contact') %>

<div class="jumbotron">

  <div id="contact_wrap">
  <h2>Contact</h2>

  <p>Should you experience any problems with the Intranet, please contact Placeholder.</p>

  <%= link_to 'Back', root_path %>
  </div> 

</div>